body {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-justify: justify;
  background-color: #bee9e8;
}
h1 {
  margin-bottom: 2rem;
}
p {
  margin: 3.5rem auto;
  font-family: "Oxanyum", sans-serif;
}
h2,
label {
  margin: 2rem 0 1.5rem;
  font-family: "MuseoModerno", sans-serif;
  font-size: 1.5rem;
}
input {
  margin: 1.5rem auto 3rem;
  padding: 0.5rem;
  font-size: 1rem;
  display: block;
}
input {
  width: 90%;
  border: none;
}
button {
  padding: 0.8rem 1rem;
  font-size: 1.3rem;
  background-color: #fdfdfd;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #ffb703;
  color: #222;
}
